{% extends 'old_home.html' %}
    {% block content %}
    <form role="form" action="" method="post">
        <h2 class="submit-message">Your Message Has Been Submitted!</h2>
        {% csrf_token %}
        <ul>
            {% for field in form %}
            <li><div class="contact-field col-md-12">{{ field }}</div></li>
            {% endfor %}
        </ul>
        <div class="col-md-12 submit-div">
            <button class="submit" type="submit">Submit</button>
        </div>
    </form>
    {% endblock %}
At this point, we